<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Sign up</span></h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <md-input-container>
        <label>Email</label>
        <input ng-model="vm.email" type="email" required>
      </md-input-container>
      <md-input-container>
        <label>Mobile Number</label>
        <input ng-model="vm.mobile_num" type="text" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password1" ng-model="vm.password1" type="password" required>
      </md-input-container>
      <md-input-container>
        <label>Confirm Password</label>
        <input name="password2" ng-model="vm.password2" type="password" required>
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px;">
        <div flex="flex"></div>
        <md-button class="md-raised md-primary" ng-click="vm.signUp()">Sign Up</md-button>
      </div>
    </md-content>
  </div>
</div>