*.pyc
*.pyo
*.db
*.sqlite3
.DS_Store
.coverage
local_settings.py
fixtures.json
/media
media
sa.json
bower_components
node_modules
dist
.tmp
.sass-cache
tmp
.idea/
/project_template/staticfiles/media/pdfs/*.pdf
/project_template/static/media/pdfs/*.pdf