<div layout="row" layout-fill layout-align="center center">

  <div layout="column" flex="90" flex-gt-sm="50" flex-gt-md="33"  layout-align="center">

    <div layout="row"  layout-align="center">
      <md-input-container>
        <label>Username</label>
        <input name="username" ng-model="vm.username" required>
      </md-input-container>
    </div>

    <div layout="row"  layout-align="center">
      <md-input-container>
        <label>Email</label>
        <input name="email" ng-model="vm.email" type="email" required>
      </md-input-container>
    </div>

  </div>

</div>